.fh {
    width:100%;
    height:100%;
}

.ui-layout-content{
    width:100%;
    height:100%;
}

.al-main{
    padding-bottom:0px;
    margin-left:0px;
    padding-top:0px;
    overflow-y:auto;
    height:100%;
}

.aside {
    width: 100%;
    position: inherit;
    top: 0px;
    overflow:auto;
}

.al-sidebar{
    z-index: inherit;
}